h1{
color: darkblue;
text-align: center;
text-transform: uppercase;
}
.text{
background-color: rgb(44, 66, 100);
color: white;
text-align: center;
padding: 10px;

}
img{
color: dark;
display: inline;
box-align: justify;
border: 2px solid green;
margin-left: 50px;
}
h2{
color: dark;
display: inline-block;
text-align: center;
margin-left: 50px;
}
div{
display: inline-block;
box-align: center;
margin-block: 30px;
position: ;
}